/target/
/.vs/DuserGokul/FileContentIndex/05d01f09-b126-4436-b24e-ace348800726.vsidx
/.vs/DuserGokul/FileContentIndex/7e5b184b-3045-4d2f-bb87-74a7ac535d91.vsidx
/.vs/DuserGokul/FileContentIndex/80031e2f-4dfe-49b4-a160-b6da42988876.vsidx
/.vs/DuserGokul/v17/.wsuo
/.vs/DuserGokul/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
